<div class="form-group">
  <%= f.label :student_id, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.collection_select(:student_id, Student.all,:id,:fullname, class: "form-control" )%>
  </div>
</div>